{% extends 'base.html' %}
{% load staticfiles %}

{% block jigou_ct %}
    <h2>机构类别</h2>
    <div class="cont">
        <a href="?city={{ city_id }}"><span {% ifequal category "" %}class="active2"{% endifequal %}>全部</span></a>

        <a href="?ct=pxjg&city={{ city_id }}"><span {% ifequal category 'pxjg' %}class="active2"{% endifequal %}>培训机构</span></a>

        <a href="?ct=gx&city={{ city_id }}"><span {% ifequal category 'gx' %}class="active2"{% endifequal %}>高校</span></a>

        <a href="?ct=gr&city={{ city_id }}"><span {% ifequal category 'gr' %}class="active2"{% endifequal %}>个人</span></a>
    </div>
{% endblock jigou_ct %}

{% block city %}
<div class="cont">
<a href="?ct={{ category }}"><span class="{% ifequal city_id "" %}active2{% endifequal %}">全部</span></a>
        {% for city in all_city %}
            <a href="?city={{ city.id }}&ct={{ category }}"><span class="{% ifequal city_id city.id|stringformat:"i" %}active2{% endifequal %}">{{ city.name }}</span></a>
        {% endfor %}
</div>
{% endblock city %}

{% block jigou_num %}
    {{ org_num }}
{% endblock jigou_num %}

{% block jigou %}
    {% for org in all_org.object_list %}
        <dl class="des difdes">
            <dt>
                <a href="org-detail-homepage.html">
                    <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ org.image }}"/>
                </a>
            </dt>
            <dd>
                <div class="clearfix">
                     <a href="org-detail-homepage.html">
                         <h1>{{ org.name }}</h1>
                         <div class="pic fl">

                                 <img src="{% static 'images/authentication.png' %}"/>

                                 <img src="{% static 'images/gold.png' %}"/>

                         </div>
                     </a>
                </div>
                <ul class="cont">
                    <li class="first"><p class="pic9">课程数：<span>1</span></p><p class="c7">学习人数：<span>1000</span></p></li>
                    <li class="c8" style="padding-left:18px;">{{ org.address }}</li>
                    <li class="pic10" style="padding-left:18px;">经典课程：

                            <a href="/diary/19/">c语言基础入门</a>

                            <a href="/diary/16/">数据库基础</a>

                    </li>
                </ul>
            </dd>
            <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
        </dl>
    {% endfor %}

{#<div id="pagination">#}
{#    {{ all_org.render }}#}
{#</div>#}

{% endblock jigou %}

{% block pagination %}

{#        <div class="pageturn">#}
{#            <ul class="pagelist">#}
{#                            <li class="active"><a href="?page=1">1</a></li>#}
{#                            <li><a href="?page=2" class="page">2</a></li>#}
{#                            <li><a href="?page=3" class="page">3</a></li>#}
{#                             <li class="long"><a href="?page=2">下一页</a></li>#}
{#             </ul>#}
{#        </div>#}

{% load i18n %}
<div class="pageturn">
    <ul class="pagelist">
        {% if all_org.has_previous %}
            <li class="long">
                <a href="?{{ all_org.previous_page_number.querystring }}">上一页</a>
            </li>
{#        {% else %}#}
{#            <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>#}
        {% endif %}

        {% for page in all_org.pages %}
            {% if page %}
                {% ifequal page all_org.number %}
                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
{#                    <span class="active">{{ page }}</span>#}
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
{#                    <a href="?{{ page.querystring }}" class="page">{{ page }}</a>#}
                {% endifequal %}
            {% else %}
                <li class="none"><a href="">...</a></li>
            {% endif %}
        {% endfor %}

        {% if all_org.has_next %}
            <li class="long">
                <a href="?{{ all_org.next_page_number.querystring }}">下一页</a>
            </li>

{#        {% else %}#}
{#            <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>#}
        {% endif %}
    </ul>
</div>
{% endblock pagination %}